<div class="outer-input-details">
  <div class="heading-style">Input Details</div>
  <hr>
  <!-- <div ><span class="segment-common-style">User : </span>
          <span class="segment-common-style">GBALDHEADANI\dmishr29</span></div> -->
  <div class="input-details">
      <div class="first-segment">
          <span class="segment-common-style weekend-style">WeekEnding</span>
          <span class="segment-common-style previous-next-style">
              <a href="https://www.google.com/" target="_blank">Previous</a><span style="margin-top: 10px;">Sunday.010101</span><a href="https://www.google.com/" class="link-style link-right">Next</a></span>
              <!-- <a href="https://www.google.com/" class="link-style link-left">Previous</a><span style="margin-top: 10px;">Sunday.010101</span><a mat-button href="https://www.google.com/" class="link-style link-right">Next</a></span> -->
          <!-- <span class="segment-common-style"> -->
              <!-- <a mat-button href="https://www.google.com/">Add Activity</a></span> -->
          <!-- <span class="segment-common-style"><a mat-button href="https://www.google.com/" class="ink-style">PST Import</a></span>
          <span class="segment-common-style"><a mat-button href="https://www.google.com/" class="ink-style">Admin Right</a></span> -->
          <span class="segment-common-style"><a href="https://www.google.com/" class="ink-style">Copy Previous Week Timesheet</a></span>
          <span class="segment-common-style" style="margin-top: 8px;"><mat-checkbox></mat-checkbox>
              <mat-label style="padding-left: 12px;">Override</mat-label>
              </span>
  
  
              <span style="margin-top: 2px;">
          <div class="dropdown-style">
            <app-dropdown-element [options]="overrideuser"></app-dropdown-element>
          </div>
    
      </span>
  
            <!-- <span style="margin-top: 9px;">
              <select id="ddloverideuser" name="DdlOverride" class="label-select-region" 
               >
              <option value="0">--Select--</option>
               <option >
               
              </option>
            </select>
            </span> -->
            <span class="segment-common-style" style="margin-top: 7px;">
              <button class="btn">Allow</button>
              
            </span> 
          <!-- <span class="segment-common-style" style="margin-top: 7px;"><button mat-raised-button>Allow</button></span> -->
      </div>
      <div class="third-segment"></div>
  </div>
  </div>